.card{
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:24px;
  padding: 0 2rem 0 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s;
  background: var(--white);
  position: relative;
  user-select: none;
}
.card:hover{
  transition: all .05s;
  transform: scale(1.05);
  box-shadow: 0px 12px 25px -2px rgba(0, 0, 0, 0.1);
}
.card > p{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.75rem;
  color:var(--text-extraLight);
  gap:18px
}
.colorPosition{
  width: 8px;
  height: 100%;
  display: block;
  background: var(--light-blue);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content_card h2{
  font-weight: 400;
  font-size: 1rem;
  color:var(--sub-title);
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content_card p{
  font-weight: 400;
  font-size: .75rem;
  color:var(--text-light);
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card:nth-child(1) .colorPosition{
  background: var(--gold);
}
.card:nth-child(2) .colorPosition{
  background: var(--silver);
}
.card:nth-child(3) .colorPosition{
  background: var(--bronze);
}

.cardInfo {
  width: 100%;
  height: 0;
  background: var(--white);
  position: relative;
  left: 0%;
  top:100%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
  animation: animaShow .3s forwards;
  opacity: 0;
}
.cardInfo_content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:16px;
  animation: animaShowContent .2s linear forwards;
  padding:1rem;

}
.cardInfo img{
  max-height: 100%;
  width: 80px;
  object-fit: cover;
  border-radius: 5px;
}
.cardInfo p{
  width: 100%;
  display: block;
  color: var(--text);
  font-size: .75rem;
  display: flex;
  gap:4px;
}
.cardInfo p span{
  color: var(--title);
}

@keyframes animaShow{
  from{
    opacity: 0;
    height: 0;
  }
  to{
    opacity: 1;
    height: 120px;
  }
}
@keyframes animaShowContent{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}