@font-face{
  font-family: "f1";
  src:url('/fonts/f1-Regular.otf');
  font-weight: 400;
}
@font-face{
  font-family: "f1";
  src:url('/fonts/f1-Bold.otf');
  font-weight: 700;
}
:root{
  --primary-color:#DC1E02;
  --secondary-color:#19242F;

  --dark: #19242F;
  --blue: #02C2DC;
  --light-blue: #e1f2f5;
  --blue-dark: #00a5bb;
  --white: #FFF;
  --gray:#767d83;
  
  --gold:#ffe91f;
  --silver:#cecece;
  --bronze:#ffa970;
  
  --title: #19242F;
  --sub-title:#5B6269;
  --text:#999DA1;
  --text-light:#c2c2c2;  
  --text-extraLight:#E8E8E8
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'f1';
}
body{
  background: hsl(215, 10%, 90%);
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  color:inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,input,textarea{
  margin: 0px;
  padding: 0px;
}
@media(max-width:1080px){
  html{
    font-size: 88%;
  }
}
@media(max-width:768px){
  html{
    font-size: 75%;
  }
}