.container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:8px;
  animation: animaShow .3s linear forwards;
}

@keyframes animaShow{
  0%{
    opacity: 0;
  }
  100%{
    opacity: initial;
  }
}